.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  padding: 10px 0;
  color: white;
  text-align: center;
  height: auto;
}

.App-header h1 {
  margin: 0;
  font-size: 1.5rem;
}

.App-main {
  flex: 1;
  padding: 0;
  overflow-y: auto;
}

.App-footer {
  padding: 8px;
  text-align: center;
  font-size: 0.8rem;
  color: #666;
  background-color: #f8f8f8;
}